/*
 * PROJECT:         ReactOS Kernel
 * LICENSE:         GPL - See COPYING in the top level directory
 * FILE:            base/applications/osk/lang/tr-TR.rc
 * PURPOSE:         On screen keyboard (Turkish resources).
 * TRANSLATORS:     2014 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net), 2018 Ercan Ersoy (ercanersoy) (ercanersoy [at] ercanersoy [dot] net)
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDD_WARNINGDIALOG_OSK DIALOGEX 0, 0, 250, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Ekran Klavyesi"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 193, 76, 50, 14
    ICON IDI_OSK, IDC_STATIC, 7, 17, 20, 20
    LTEXT "On-Screen Keyboard provides a minimum level of functionality for mobility-impaired users. Mobility-impaired users will need a utility program with higher functionality for daily use.", IDC_STATIC, 36, 7, 207, 33
    CONTROL "Do not show this message again", IDC_SHOWWARNINGCHECK, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 43, 80, 137, 10
END

STRINGTABLE
BEGIN
    STRING_OSK "Ekran Klavyesi"
    STRING_AUTHORS "Copyright Denis Robert"
    STRING_FONT "MS Shell Dlg"
END

/* EOF */
